.score {
  display: flex;
    width: 10rem;
    height: 3rem;
    background-color: #ececec;
    color: rgba(0, 0, 0, 0.4);
    margin-bottom: 50px;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    border-radius: 1rem;
}
